$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'assets/styles/colors';

.box {
  border: 10px solid $black;
  height: 200px;
  width: 200px;
}
